a{
    text-decoration: none;
}   
.alert{
    border-radius: 0;
    margin: 0;
}

.offcanvas-body{
    justify-content: flex-end;
}

.btn-close{
    filter: invert(1);
    opacity: 1;
    position: static;
    margin-right: 35px;
    padding: 0;
}
.navbar{
    min-height: 80px;
}
.navbar-toggler-icon{
    filter: invert(1);
}
.navbar-brand{
    width: 130px;
    height: 100%;
}

.navbar-brand img{
    width: 100%;
    filter: invert(1);
    margin: 0;
}

.navs{
    width: 30rem;
}
.navs ul{
    list-style: none;
    margin-left: 37px;
}
.navs ul a{
    margin-right: 4%;
    font-size: 15px;
    float: left;
    color: white;
    font-weight: 700;
}

article{
    width: 100%;
    min-height: 450px;
    overflow: hidden;
    padding: 0px;
    background: url(https://www.scdn.co/i/free/bubbles-mobile.svg) center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
    background-position: center center;
    background-repeat: no-repeat;
}
.mobile-container{
    display: none;
}
.mobile-out-part{
    width: 286px;
    height: 573px;
}

.mobile-inner-part{
    position: absolute;
    right: 0px;
    left: 0px;
    height: 575px;
    bottom: -133px;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.mobile-inner-part img{
    width: 267px;
    height: 445px;
}
.article-text{
    padding: 80px 15px 70px;
}
.article-h1{
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1.92px;
    padding-bottom: 32px;
}
.article-btn button{
    font-size: 14px;
}
.why-head{
    display: flex;
    justify-content: center;
}
.why-block{
    display: flex;
    justify-content: center;
}
.why-block-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-block-img img{
    width: 50%;
    padding: 20px 0;
}
.why-block-text{
    text-align: left;

}
.its-free{
    padding-top: 30px;
}

.free-mobile-section{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 310px;
    width: 100%;
    background: url(https://www.scdn.co/i/free/bubbles-phone-mobile.svg) center top 16px / 506px 512px no-repeat, white;
    background-position: center top 16px;
    background-repeat: no-repeat;
}
.free-mobile-img{
    width: 251px;
    height: 491px;
}
.free-over-gradient{
    position: relative;
    height: 78px;
    background: linear-gradient(transparent, rgb(176, 35, 194));
    top: -78px;
    margin-bottom: -78px;
}
.free-mobile-screen{
    position: absolute;
    bottom: -113px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
}
.free-mobile-screen img{
    width: 216px;
    height: 365px;
}
.its-free-bottom{
    width: 100%;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
}
.its-free-bottom h2{
    color: white;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2;
}

.questions-article{
    display: flex;
    justify-content: center;
    align-items: center;
}
.questions{
    height: 560px;
    width: 100%;
}

.questions-head{
    text-align: center;
    padding: 20px 0;
    font-weight: 700;
}
.questions-head h2{
    font-size: 40px;
}

.got-list{
    display: flex;
    margin-top: 50px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.got-list select{
    height: 76px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    font-size: 20px;
    font-weight: 700;
    border-color: #e5e5e5;
    background-color: white;
    padding: 10px 39px;
    margin-bottom: 10px;
}
.got-list select:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: underline;
    text-decoration-thickness:1px ;
    border: 0;
}
.ready-article{
    width: 100%;
    overflow: hidden;
    padding: 0px;
    background: url("https://www.scdn.co/i/free/lets-play.svg") center center / 100% no-repeat, linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%) rgb(108, 14, 224);
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
}

.ready-lets{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.ready-lets h2{
    color: white;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2;
    padding: 20px 45px;
}
.footer-fluid{
    width: 100%;
    background-color: black;
}
.inner-footer{
    padding: 2% 8%;
}
.footer-logo img{
    width: 50%;
    filter: invert(1);
}
.footer-logo{
    padding: 0;
}
.list-container{
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}
.inner-list p{
    color: rgb(146, 146, 146);
    font-size: 12px;
    font-weight: 700;
}
.inner-list ul{
    padding-left: 0;
}
.inner-list ul li{
    list-style: none;
    padding-bottom: 1.2rem;
}
.inner-list ul li a{
    color: white;
    font-size: 15px;
}
.inner-social ul li a{
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.social-inner{
    display: flex;
    flex-direction: row;
}

.circle{
    display: flex;
    margin-right:10px ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222326;
    justify-content: center;
    align-items: center;
}
.circle a{
    margin-top: -2.3px;
    margin-left: 9px;
}
.circle img{
    width: 70%;
    background-color: white;
}
.circle img:hover{
    background-color: #1ed760;
}
.footer-country a{
    float: right;
    font-size: 8px;
    color: rgb(134, 134, 134);
}
.footer-privacy span{
    flex-shrink: 0;
    padding: 10px 0;
    color: #919496;
    font-size: 8px;
}
.footer-privacy{
    display: flex;
    justify-content: space-between;
}
.footer-privacy li{
    list-style: none;
    display: inline-block;
    margin-right: 24px;
}
.footer-privacy ul{
    padding: 0;
}
.footer-privacy a{
    color: #919496;
    font-size: 7px;
}

@media (min-width:390px) {
   
}

@media (max-width:576px){
    .why-block{
        justify-content: space-between;
    }
    .why-block-img{
        width: 50%;
        margin-left: -50px;
    }
    .why-block-text{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-logo img{
        width: 40%;
        padding: 30px 0;
}
}

@media(max-width:766px){
    .why-block{
       width: 100%;
    }
    .why-block-img img{
        width: 54%;
    padding-bottom: 26px;
    }
    .list-container{
        flex-direction: column;
    }
    .inner-list{
        padding-bottom: 50px;
    }
    .footer-logo img{
        width: 20%;
        padding: 30px 0;
    }
    .inner-footer{
        padding: 2% 2%;
    }
}
@media (min-width:768px){
    article{
        height: 376px;
        background: url("https://www.scdn.co/i/free/bubbles-dktp.svg") center -138px , linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
        background-size: cover;
        background-repeat: no-repeat;
    }
    .inner-article{
        margin: 0 9px;
    }
    .article-h1{
        font-size: 64px;
        letter-spacing: -2.56px;
        max-width: 653px;
    }
    .free-mobile-section{
        display: none;
    }
    .free-over-gradient{
        display: none;
    }
    .ready-article{
        background-size: 100%;
        background-position: left -10px bottom -160px;
        background-repeat: no-repeat;
    }
    .inner-footer{
        padding: 6% 4%;
    }
    .footer-logo img{
        width: 15%;
    }
    .footer-privacy a{
        font-size: 12px;
    }
    .footer-country a{
        font-size: 12px;
    }
    .footer-privacy span{
            font-size: 12px;
    }
}
@media (min-width:992px){
    article{
        height: 600px;
        background-repeat: no-repeat;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        }
    .inner-article{
        display: flex;
        position: relative;
        width: 1170px;
    }
    .mobile-container{
        position: relative;
        width: 40%;
        padding-top: 100px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .article-text{
        padding: 180px 15px 0px 0px;
        width: 60%;
    }
    .article-h1{
        letter-spacing: -0.04em;
        line-height: 1.15;
        display: block  ;
    }
    .why-block-text{
    text-align: center;
    }
    .why-container{
        max-width: 1280px;
    }
    .its-free-bottom{
        height: 500px;
    }
    .its-free-bottom h2{
        font-size: 43px;
    }
    .ready-article{
        background: url("https://www.scdn.co/i/free/lets-play.svg") left -10px bottom -160px / 100% 1114px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166)) rgb(108, 14, 224);
        background-repeat: no-repeat;
    }
    .ready-lets h2{
        font-size: 80px;
        padding: 0px 100px 32px;
    }
    .social-inner{
        float: right;
    }
    .footer-logo img{
        width: 67%;
        padding: 0;
    }

}


/* ONLY FOR NAV-BAR */
@media (max-width:991px){
    .navbar{
        min-height: 0;
        max-height: 55px;
    }  
    .navs{
        width: 10em;
    }

    .navs ul li a{
        font-size: 30px;
    }
    .navbar-brand{
        width: 90px;
    }
    .why-block{
        padding: 0;
    }
    .got-list{
        margin-top: 0px;
    }
    .questions{
        height: 500px;
    }
    .footer-social{
        padding: 0;
        padding-bottom: 30px;
    }
    .footer-logo img{
        padding: 30px 0;

    }
}

